apiVersion: apps/v1
kind: Deployment
metadata:
  name: nutrition-postgres
  labels:
    app.kubernetes.io/name: postgres
    app.kubernetes.io/instance: nutrition
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: postgres
      app.kubernetes.io/instance: nutrition
  template:
    metadata:
      labels:
        app.kubernetes.io/name: postgres
        app.kubernetes.io/instance: nutrition
    spec:
      containers:
        - name: postgres
          image: postgres:15-alpine
          ports:
            - containerPort: 5432
              name: postgres
          env:
            - name: POSTGRES_DB
              value: nutrition
            - name: POSTGRES_USER
              value: nutrition
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: nutrition-postgresql
                  key: postgresql-password
          volumeMounts:
            - name: postgres-data
              mountPath: /var/lib/postgresql/data
      volumes:
        - name: postgres-data
          emptyDir: {}
---
apiVersion: v1
kind: Service
metadata:
  name: nutrition-postgres
  labels:
    app.kubernetes.io/name: postgres
    app.kubernetes.io/instance: nutrition
spec:
  ports:
    - port: 5432
      targetPort: 5432
      name: postgres
  selector:
    app.kubernetes.io/name: postgres
    app.kubernetes.io/instance: nutrition
