version: 2.1

parameters:
  backend-image:
    type: string
    default: "luismunozvillarreal/nutrition-backend:0.101.0"
  uv-venv:
    type: string
    default: "/home/backend/project/backend/.venv/"
  postgresql-image:
    type: string
    default: "cimg/postgres:17.4"

executors:
  python:
    docker:
      - image: << pipeline.parameters.backend-image >>
    environment:
      PATH: "/usr/local/bin:/usr/local/sbin:/usr/sbin:/usr/bin:/sbin:/bin:/root/.local/bin"
      GEMINI_API_KEY: "TestingApiKey"
      SECRET_KEY: "TestingSecretKey"
  python-postgresql:
    docker:
      - image: << pipeline.parameters.backend-image >>
      - image: << pipeline.parameters.postgresql-image >>
        environment:
          POSTGRES_USER: nutrition
    environment:
      GEMINI_API_KEY: "TestingApiKey"
      SECRET_KEY: "TestingSecretKey"

commands:
  python-dependencies:
    steps:
      - checkout:
          path: ~/project
      - restore_cache:
          name: Restore Python Dependencies
          keys:
            - python-packages-{{ checksum "uv.lock" }}-v1
      - run:
          name: Install Python Dependencies
          command: uv sync
      - save_cache:
          name: Save Python Dependencies
          key: python-packages-{{ checksum "uv.lock" }}-v1
          paths:
            - << pipeline.parameters.uv-venv >>

  gcp-credentials:
    steps:
      - run:
          name: Create GCP credential JSON
          command: echo $GCLOUD_SERVICE_KEY > nutrition-gcp-db-backup-credentials.json


  validate:
    parameters:
      env:
        type: string
    steps:
      - run:
          name: << parameters.env >>
          command: make << parameters.env >>

jobs:
  pytest:
    working_directory: ~/project/backend
    executor: python-postgresql
    steps:
      - python-dependencies
      - gcp-credentials
      - validate:
          env: pytest
  bandit:
    working_directory: ~/project/backend
    executor: python
    steps:
      - python-dependencies
      - validate:
          env: bandit
  flake8:
    working_directory: ~/project/backend
    executor: python
    steps:
      - python-dependencies
      - validate:
          env: flake8
  black:
    working_directory: ~/project/backend
    executor: python
    steps:
      - python-dependencies
      - validate:
          env: black
  mypy:
    working_directory: ~/project/backend
    executor: python
    steps:
      - python-dependencies
      - gcp-credentials
      - validate:
          env: mypy
  pylint:
    working_directory: ~/project/backend
    executor: python
    steps:
      - python-dependencies
      - gcp-credentials
      - validate:
          env: pylint
  pylint-tests:
    working_directory: ~/project/backend
    executor: python
    steps:
      - python-dependencies
      - gcp-credentials
      - validate:
          env: pylint-tests
  pydocstyle:
    working_directory: ~/project/backend
    executor: python
    steps:
      - python-dependencies
      - validate:
          env: pydocstyle
  pydocstyle-tests:
    working_directory: ~/project/backend
    executor: python
    steps:
      - python-dependencies
      - validate:
          env: pydocstyle-tests
  backend-docker-build:
    working_directory: ~/project/backend
    docker:
      - image: docker:24.0.9-git
    steps:
      - checkout:
          path: ~/project
      - setup_remote_docker:
          version: docker24
          docker_layer_caching: true
      - run:
          name: Docker build
          command: |
            apk add --no-cache make
            make docker-build
  webapp-docker-build:
    working_directory: ~/project/webapp
    docker:
      - image: docker:24.0.9-git
    steps:
      - checkout:
          path: ~/project
      - setup_remote_docker:
          version: docker24
          docker_layer_caching: true
      - run:
          name: Docker build
          command: |
            apk add --no-cache make
            make docker-build
  migrations:
    working_directory: ~/project/backend
    docker:
      - image: << pipeline.parameters.backend-image >>
        environment:
          GEMINI_API_KEY: "ApiKey"
          SECRET_KEY: "SecretKey"
      - image: << pipeline.parameters.postgresql-image >>
        environment:
          POSTGRES_DB: nutrition
          POSTGRES_USER: nutrition
          POSTGRES_PASSWORD: nutrition
    steps:
      - python-dependencies
      - gcp-credentials
      - run:
          name: Restore latest production DB
          command: make restore-db
      - run:
          name: Check there is no standing Django models migrations
          command: make migrations-check
      - run:
          name: Check all Django model migrations can be applied
          command: make migrate



workflows:
  version: 2
  ValidationWorkflow:
    jobs:
      - pytest
      - bandit
      - flake8
      - black
      - mypy
      - pylint
      - pylint-tests
      - pydocstyle
      - pydocstyle-tests
      - backend-docker-build
      - webapp-docker-build
      - migrations
