apiVersion: apps/v1
kind: Deployment
metadata:
  name: nutrition-backend
spec:
  replicas: 1
  template:
    spec:
      containers:
        - name: backend
          env:
            - name: ENVIRONMENT
              value: "production"
            - name: DEBUG
              value: "False"
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: nutrition-webapp
spec:
  replicas: 1
